@mixin flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  width: 100vw;
  height: 100vh;
  @include flexCenter();
  flex-flow: column;
  flex: 1;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)),
    url('/banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcomeBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1Text {
  color: #1c1c1c;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.boxForm {
  width: 450px;
  height: 450px;
  display: flex;
  flex-flow: column;
  border-radius: 13px;
  padding: 1.5em;
  background: white;
}
.mid {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 13px;
}
.input {
  width: 100%;
  height: 30px;
  padding-left: 0.5em;
  margin-bottom: 1em;
  outline: none;
  border: none;
  border-bottom: 1px solid #ebebeb;
}
.h4Text {
  width: 100%;
  height: 50px;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  h4 {
    margin: 0 0.5em;
  }
  hr {
    width: 1px;
    height: 150px;
    background: silver;
    transform: rotateZ(90deg);
    border: 0;
  }
}

.bottom {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: grey;
}
.hover {
  &:hover {
    color: black;
  }
}
.button {
  width: 100%;
  padding: 7px 0;
  background: #00bfc1;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  margin-top: 1em;
}
