.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  flex: 1;
  background: silver;
}
.h1Text {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.boxForm {
  width: 450px;
  height: 450px;
  display: flex;
  flex-flow: column;
  border-radius: 13px;
  padding: 1.5em;
  background: white;
}
.miniPre {
  font-size: 0.7em;
}

.mid {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 13px;
}
.input {
  width: 100%;
  height: 30px;
  margin-bottom: 1em;
  outline: none;
  border: none;
  border-bottom: 1px solid #ebebeb;
}
.h4Text {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;
}
.googleLogin {
  width: 100%;
  height: 7 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.googleIcon {
  width: 20px;
  height: 20px;
}
.googleText {
  margin-left: 1em;
}

.bottom {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: grey;
}
.button {
  width: 100%;
  padding: 7px 0;
  background: #00bfc1;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  margin-top: 2em;
}
