.container {
  width: 100vw;
  display: flex;
  position: relative;
}
.bottom {
  width: 98vw;
  height: 100%;
  padding-top: 45px;
  background: #f9f9f9;
  display: flex;
}
.circularButton {
  width: 70px;
  height: 30px;
  border-radius: 15px;
  position: fixed;
  left: 1.2em;
  bottom: 1.5em;
  background: #00bfc1;
  box-shadow: 0.2em 0.2em 0.3em #00bfc1;
  color: white;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media all and(max-width:780px) {
  .lateralMenu,
  .circularButton {
    display: none;
  }
  .bottom {
    padding-bottom: 2em;
    padding-top: 0;
  }
}
