@mixin flexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  width: 100vw;
  height: 100vh;
  @include flexCenter();
}
.hover {
  &:hover {
    color: black;
  }
}

.left {
  width: 50vw;
  height: 100vh;
  background-image: linear-gradient(to right, #ff512f 0%, #dd2476 100%);
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-left: 2em;
  flex-flow: column;
  h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 0.9em;
  }
  p {
    font-size: 15px;
    margin-top: 1em;
  }
}
.right {
  width: 50vw;
  height: 100vh;
  background: white;
  padding: 1.5em;
  border-radius: 10px;
}
.form {
  width: 100%;
  height: 100%;
  @include flexCenter();
  flex-flow: column;
  border-radius: 13px;
  background: white;
}
.boxForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  flex: 1;
}
.signupText {
  font-weight: bold;
  margin-bottom: 2em;
}
.input {
  width: 100%;
  height: 30px;
  margin-bottom: 1em;
  outline: none;
  border: none;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  padding-left: 0.5em;
}
.h4Text {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;
}
.button {
  width: 150px;
  padding: 7px 0;
  box-shadow: 0.2em 0.2em 0.3em #ff512f;
  background-image: linear-gradient(to right, #ff512f 0%, #dd2476 100%);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 2em;
  align-self: flex-end;
}
