.navBar {
  width: 100vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: white;
  position: fixed;
  padding-right: 1em;
}
.linkText {
  display: flex;
  flex: 1;
  font-weight: bold;
  padding-left: 1em;
}

.logo {
  background: #00bfc1;
  display: flex;
  justify-content: Center;
  align-items: center;
}
// ===========

@media all and(max-width:780px) {
  .navBar {
    display: none;
  }
}
