.bottomTabIcons {
  width: 100vw;
  height: 50px;
  padding: 1em;
  background: white;
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 0px 3px 5px silver, 0px -3px 5px #ebebeb;
}
.icon {
  color: #00bfc1;
  width: 25px;
  height: 25px;
}

@media all and(max-width:780px) {
  .bottomTabIcons {
    display: flex;
    justify-content: space-evenly;
  }
}
