.progressBarContainer {
  width: 100%;
  background-color: #e6e6e6;
}

.progressBar {
  width: 100%;
  height: 5px;
  background-color: #3f3;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 7px;
}
