.newRentPost {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 3em 2em 2em 3em;
}
.uploadText {
  color: #141414;
  font-size: 24px;
  font-weight: bold;
}
.titleText {
  color: #141414;
  font-weight: bold;
}
.title,
.subtitle,
.description {
  width: 100%;
  height: 100px;
  background: white;
  border: 1px silver dashed;
  border-radius: 10px;
  margin-bottom: 2em;
  outline: none;
  resize: none;
  padding: 0.5em;
}
